<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      <%= link_to "New measure", new_measure_path %>
      <ul class="measures">
        <% @measures.each do |measure| %>
          <li class="measure"> <%= link_to measure.name, measure %></li>
        <% end %>
      </ul>
    </div>
    <div class="span10" id="content">

    </div>
  </div>
</div>
